
 body{
     line-height: 1.5;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 0;
     margin: 0;
    }
 a{
     text-decoration: none;
 }
#nav_bar{
    background-color:  white;
    color: rgb(148, 148, 148);
    height: 90px;
    display:flex;
    flex-direction: row;
    padding-left: 3px ;
}
.logo img {
    height: 65px;
    width: 80px;
    padding-left: 29px;
    padding-top: 12px;

}
img{
    width: 30px;
    height: 40px;
    padding-top: 25px;
    margin-left: 20px; 
}
 
li{
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 800;
    float: left;
    align-items: center;
    list-style: none;
    font-size: 16px;
}
a:hover{
    color: red;
    opacity: 0.2;
    
 }
  
 ul a{
     color: black;
     padding: 20px;
     
 }
.grid{
    display: grid;
    width: 100%;
    padding-left: 60px;
}
 }
 .grid li{
     display: grid;
     grid-template-columns:  repeat(7, 2fr);
     grid-gap: 10px;
      
    
 }
 .one{
     grid-column: 3/4;
      
 }
 .two{
     grid-column: 4/5;
     margin-bottom: 100px;
     
 }
 .three{
     grid-column: 5/6;
 }
 .four{
     grid-column: 6/7;
      
 }
 .header{
     display: flex;
      
 }
 h5{
     margin-top: 20px;
     padding-right: 25px;
     font-family:cursive;
     font-size: 15px;
     color:rgb(21, 203, 209);
     line-height: 1.0;
 }
 .class{
     padding-left: 80px;
 }
span {
    font-size: 50px; 
    color: black;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
}
 
.btt{
    padding-top: 15px;
     
}
.btt button{
    padding-right: 60px;
    border: none;
}
#Layer_1 {
    fill: blue;
    height: 30px ;
    width: 40px;
    padding-right: 10px;
     
}

#Layer_3{
    fill: white;
    height: 30px;
    width: 35px;
}
.button_1{
    
    height: 35px;
    display: flex;
    margin-left: 50px;
    margin-right: 70px ;
    margin-top: 28px;
}
#Layer_2{
    fill: white;
    height: 30px;
    width: 40px;
    padding-bottom: 10px;
    margin-right: 25px;
     
} 

button{
    background-color: orange;
    display: flex;
    padding: 10px;
    margin-left: 650px;
    margin-right: 650px;
    height: 55px;
    border-radius: 5px;
    border: none;
    
}
button p{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 8px;
    
}
.section-container{  
     background-image: url(showcase.jpg);
     background-size: cover;
     background-position: center;
     height: 600px; 
     padding-bottom: 80px;
     padding-top: 100px;
      
}
.section{
    padding-top: 70px;
    padding-bottom: 50px;
    line-height: 20px;
}
.section h1{
    color: rgba(127, 241, 127, 0.849); 
    text-align: center;
    font-size: 60px;
    font-weight: 1000;

     
}
.section-content{
    text-align: center;
    
}
.section-content p{
    padding-bottom: 60px;
}

.footer-container{
    background-color: rgba(230, 215, 215, 0.952);
    height: auto;
     
}
.footer{
    background-color: rgba(230, 215, 215, 0.952);
    width: 70%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}
.footer-bills{
    padding-right: 50px;
}
.footer-credit{
    padding-left: 45px;
}